In [1]:
# Importing the libraries to be used
import pandas as pd
import numpy as np

In [2]:
# Importing the dataset
df = pd.read_csv("energydata_complete.csv")
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
df.shape

(19735, 29)

In [4]:
# Dropping date and lights columns
df = df.drop(["date", "lights"], axis=1)
df.shape

(19735, 27)

In [5]:
# normalisong the data
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
norm_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
norm_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

### Question 12

 R^2 value in two D.P

In [6]:
# x = T2, y = T6
X = norm_df[["T2"]]
y = norm_df["T6"]

In [7]:
# Splitting the data into training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [8]:
# Fitting a model with x = T2 and y = T6 and predicting y valyes
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, y_train)
y_predlr = lr.predict(X_test)

In [9]:
# R^2 value for the model
from sklearn.metrics import r2_score

r2 = r2_score(y_test, y_predlr)
round(r2, 2)

0.64

### Question 13

 Mean Absolute Error (in two decimal places)

In [10]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, y_predlr)
round(mae, 2)

0.08

 ### Question 14
 
 Residual Sum of Squares (in two decimal places)

In [11]:
squares = (y_test - y_predlr) ** 2
rss = np.sum(squares)
round(rss, 2)

66.12

### OR

In [12]:
y_test.shape

(5921,)

In [13]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_test, y_predlr)
rss = mse * 5921
round(rss, 2)

66.12

### Question 15

Root Mean Squared Error (in three decimal places)

In [14]:
rmse = np.sqrt(mse)
round(rmse, 3)

0.106

### Question 16

Coefficient of Determination (in two decimal places)

In [15]:
cod = lr.coef_[0]
round(cod, 2)

0.89

### Question 17

Obtain the feature weights from your linear model above. 
Which features have the lowest and highest weights respectively?

In [16]:
# The model above has only one feature i.e one coefficient / weight.
# Creating new X and y values for the entire dataset in order to choose highest
# and lowest weights
X = norm_df.drop("Appliances", axis=1)
y = norm_df["Appliances"]

In [17]:
# Splitting the data into training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [18]:
# Fitting the multiple regression model and making predictions
mlr = LinearRegression()
mlr.fit(X_train, y_train)
mlr_pred = mlr.predict(X_test)

In [19]:
# Writing a function to get weights of a model
def get_weights_df(model, features, column_name):
    
    weights = pd.Series(model.coef_, features.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ["Features", column_name]
    return weights_df

mlr_wts = get_weights_df(mlr, X_train, "MLR_weights")

In [20]:
# lowest weight
mlr_wts.head(1)

  Features  MLR_weights
0     RH_2    -0.456698

In [21]:
# highest weight
mlr_wts.tail(1)

   Features  MLR_weights
25     RH_1     0.553547

### Question 18

Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [22]:
# Root mean squared error of the multiple regression model
mlr_rmse = np.sqrt(mean_squared_error(y_test, mlr_pred))
mlr_rmse

0.0875144494766171

In [23]:
# training the ridge model and making predictions
from sklearn.linear_model import Ridge

ridge = Ridge(alpha=0.4)
ridge.fit(X_train, y_train)
y_pred2 = ridge.predict(X_test)

In [24]:
ridge_rmse = np.sqrt(mean_squared_error(y_test, y_pred2))
ridge_rmse

0.08753385704628003

In [25]:
# There is a change in the root mean squared error of the multiple linear regression model
mlr_rmse == ridge_rmse

False

### Question 19

Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [26]:
# Training a lasso model and making predictions
from sklearn.linear_model import Lasso

lasso = Lasso(alpha=0.001)
lasso.fit(X_train, y_train)
y_pred3 = lasso.predict(X_test)

In [27]:
lasso_wts = get_weights_df(lasso, X_train, "Lasso_weights")
lasso_wts[lasso_wts["Lasso_weights"] != 0].count()

Features         4
Lasso_weights    4
dtype: int64

### Question 20

What is the new RMSE with the Lasso Regression (in 3 decimal places)

In [28]:
lasso_rmse = round(np.sqrt(mean_squared_error(y_test, y_pred3)), 3)
lasso_rmse

0.094